# Clearance, AstraZeneca

### Dataset Description: Drug clearance is defined as the volume of plasma cleared of a drug over a specified time period and it measures the rate at which the active drug is removed from the body. This is a dataset curated from ChEMBL database containing experimental results on intrinsic clearance, deposited from AstraZeneca. It contains clearance measures from two experiments types, hepatocyte and microsomes. As many studies [2] have shown various clearance outcomes given these two different types, we separate them.

### Task Description: Regression. Given a drug SMILES string, predict the activity of clearance.

### Dataset Statistics: 1,102/1,020 drugs for microsome/hepatocyte clearance.

### Metric: Spearman

## Leaderboard

| Rank | Model                       | Contact      | Link          | #Params   | Spearman      |
|------|-----------------------------|--------------|---------------|-----------|---------------|
| 1    | MapLight + GNN              | Jim Notwell  | GitHub, Paper | N/A       | 0.498 ± 0.009 |
| 2    | MapLight                    | Jim Notwell  | GitHub, Paper | N/A       | 0.466 ± 0.012 |
| 3    | Basic ML                    | Nilavo Boral | GitHub, Paper | N/A       | 0.440 ± 0.003 |
| 4    | ContextPred                 | Kexin Huang  | GitHub, Paper | 2,067,053 | 0.439 ± 0.026 |
| 5    | Chemprop                    | Kyle Swanson | GitHub, Paper | N/A       | 0.431 ± 0.006 |
| 6    | Chemprop-RDKit              | Kyle Swanson | GitHub, Paper | N/A       | 0.430 ± 0.021 |
| 7    | Euclia ML model             | Euclia       | GitHub, Paper | 50        | 0.424 ± 0.008 |
| 8    | AttrMasking                 | Kexin Huang  | GitHub, Paper | 2,067,053 | 0.413 ± 0.028 |
| 9    | NeuralFP                    | Kexin Huang  | GitHub, Paper | 480,193   | 0.401 ± 0.037 |
| 10   | RDKit2D + MLP (DeepPurpose) | Kexin Huang  | GitHub, Paper | 633,409   | 0.382 ± 0.007 |
| 11   | GCN                         | Kexin Huang  | GitHub, Paper | 191,810   | 0.366 ± 0.063 |
| 12   | AttentiveFP                 | Kexin Huang  | GitHub, Paper | 300,806   | 0.289 ± 0.022 |
| 13   | Morgan + MLP (DeepPurpose)  | Kexin Huang  | GitHub, Paper | 1,477,185 | 0.272 ± 0.068 |
| 14   | CNN (DeepPurpose)           | Kexin Huang  | GitHub, Paper | 226,625   | 0.235 ± 0.021 |

In [1]:
import pandas as pd
from deepmol.pipeline import Pipeline

2023-11-21 14:37:16.770368: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-21 14:37:16.800830: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-11-21 14:37:16.801762: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-11-21 14:37:17.326759: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
Skipped loading modules with pytorch-lightning dependency, missing a dependency. No module named 'pytorch_lightning'
Skipped loading some Jax models, missing a dependency. jax requires jaxlib to be installed. See https://github.com/google/jax#installation for installation instructions.

In [2]:
# read results
results = pd.read_csv('clearance_hepatocyte/tdc_test_set_results.txt', sep=',', header=None, dtype={0: int, 1: float, 2: float})
# set columns
results.columns = ['trial_id', 'mean', 'std']
results
# order res

    trial_id   mean    std
0          1  0.007  0.000
1          3    NaN    NaN
2          4 -0.041  0.001
3          5  0.382  0.023
4          6  0.068  0.008
5          7    NaN    NaN
6         10 -0.049  0.009
7         12  0.371  0.016
8         13  0.383  0.023
9         14  0.373  0.024
10        15  0.299  0.063
11        17    NaN    NaN
12        18    NaN    NaN
13        19    NaN    NaN
14        21    NaN    NaN
15        24  0.292  0.018
16        25    NaN    NaN
17        27 -0.017  0.054
18        35  0.066  0.037
19        36  0.178  0.017
20        37  0.180  0.016
21        38  0.181  0.012
22        39  0.179  0.018
23        40  0.178  0.019
24        41  0.173  0.036
25        42  0.165  0.029
26        43    NaN    NaN
27        45  0.265  0.014
28        46  0.245  0.022
29        48  0.210  0.010
30        50  0.254  0.018
31        51  0.247  0.021
32        53  0.237  0.024
33        54  0.244  0.016
34        59  0.119  0.020
35        61  0.174  0.030
36        62  0.075  0.011
37        63  0.043  0.067
38        65    NaN    NaN
39        66  0.168  0.024
40        67  0.041  0.047
41        73  0.124  0.046
42        75  0.240  0.043
43        78    NaN    NaN
44        80    NaN    NaN
45        82  0.097  0.034
46        83  0.128  0.024
47        84  0.280  0.017
48        87  0.191  0.086
49        90  0.012  0.026
50        92  0.174  0.030
51        95  0.314  0.018
52        96  0.195  0.024
53        99  0.041  0.000

In [3]:
# order results by mean (std in case of tie)
results = results.sort_values(by=['mean', 'std'], ascending=False)
results

    trial_id   mean    std
8         13  0.383  0.023
3          5  0.382  0.023
9         14  0.373  0.024
7         12  0.371  0.016
51        95  0.314  0.018
10        15  0.299  0.063
15        24  0.292  0.018
47        84  0.280  0.017
27        45  0.265  0.014
30        50  0.254  0.018
31        51  0.247  0.021
28        46  0.245  0.022
33        54  0.244  0.016
42        75  0.240  0.043
32        53  0.237  0.024
29        48  0.210  0.010
52        96  0.195  0.024
48        87  0.191  0.086
21        38  0.181  0.012
20        37  0.180  0.016
22        39  0.179  0.018
23        40  0.178  0.019
19        36  0.178  0.017
35        61  0.174  0.030
50        92  0.174  0.030
24        41  0.173  0.036
39        66  0.168  0.024
25        42  0.165  0.029
46        83  0.128  0.024
41        73  0.124  0.046
34        59  0.119  0.020
45        82  0.097  0.034
36        62  0.075  0.011
4          6  0.068  0.008
18        35  0.066  0.037
37        63  0.043  0.067
40        67  0.041  0.047
53        99  0.041  0.000
49        90  0.012  0.026
0          1  0.007  0.000
17        27 -0.017  0.054
2          4 -0.041  0.001
6         10 -0.049  0.009
1          3    NaN    NaN
5          7    NaN    NaN
11        17    NaN    NaN
12        18    NaN    NaN
13        19    NaN    NaN
14        21    NaN    NaN
16        25    NaN    NaN
26        43    NaN    NaN
38        65    NaN    NaN
43        78    NaN    NaN
44        80    NaN    NaN

In [11]:
# load best trial pipeline (rank #10)
best_trial_id = int(results.iloc[0]['trial_id'])
pipeline = Pipeline.load(f"clearance_hepatocyte/trial_{best_trial_id}/")

NameError: name 'results' is not defined